/* Black Background on selected flex boxes */
.square1 {
  background-color: black;
  color: white;
}

/* 12 flex boxes 3x4*/
.square {
  padding: 0px;
  width: 320px;
  height: 160px;
  border: 1px solid;

  
}

/* Container of all 12 flex boxes */
#container {
  display: grid;
  width: 100px;
  height: auto;
}

h3 {
  text-align: center;
}

/* Media Layouts */

@media only screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) 
{
  #container { 
    display: grid; 
    flex-direction: column;
  }
  
} 


@media only screen and (min-width: 400px) and (max-width: 700px) and (orientation: portrait)
{

#container {
  display: grid;
} 

}  
 

@media only screen and (min-width: 700px) and (orientation: landscape) 
{
  footer {
    display: grid;
    flex-direction: row;
  }
}



