/* 12 flex boxes 3x4*/
.square {
  border: 1px solid black;
}

/* Container of all 12 grid boxes */
#container {
  display: grid;
  width: 1000px;
  height: auto;
}

/* Black Background on selected flex boxes */
.square1 {
  background-color: black;
  color: white;
}

h3 {
  text-align: center;
}

/* Media Layouts */

@media only screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) 
{
  #container { 
    display: grid; 
    flex-direction: column;
  }
  
} 


@media only screen and (min-width: 400px) and (max-width: 700px) and (orientation: portrait)
{
  #container {
    display: grid;
    
} 
}  
 

@media only screen and (min-width: 700px) and (orientation: landscape) 
  {
    #container {
      display: grid;
      
  } 
  }  







