/* 12 flex boxes 3x4*/
.square {
  border: 1px solid black;
}

/* Container of all 12 grid boxes */
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto;
}

/* Black Background on selected flex boxes */
/* .square1 {
  background-color: black;
  color: white;
} */

h3 {
  text-align: center;
}

/* Media Layouts */

@media only screen and (min-width: 0px) and (max-width: 600px) and (orientation: portrait) 
{
  #container { 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  } 
} 


@media only screen and (min-width: 600px) and (max-width: 900px) and (orientation: portrait)
{
  #container {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
} 
} 
 

@media only screen and (min-width: 1000px) and (orientation: landscape) 
  {
    #container {
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: auto;
  } 
  }  







