#bio {grid-area: bio1}
#about_me {grid-area: about_me1}
#contact_me {grid-area: contact_me1} 
#social {grid-area: social1}
#columbia {grid-area: columbia1} 
#north_shore {grid-area: north_shore1} 
#us_army {grid-area: us_army1}
#dfa {grid-area: dfa1}
#cincinnati {grid-area: cincinnati1}
#language {grid-area: language1}
#software_skills {grid-area: software_skills1}
#interest {grid-area: interest1}

/* 12 flex boxes 3x4*/
.square {
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
}

/* Default for Sizes 450px to 650px */
#container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  grid-template-areas: 
      "bio1 columbia1"
      "about_me1 north_shore1"
      "contact_me1 us_army1"
      "social1 dfa1"
      "software_skills1 cincinnati1"
      "interest1 language1"
}

/* Black Background on selected flex boxes */
.square1 {
  background-color: black;
  color: white;
  text-align: center;
}

h3 {
  text-align: center;
  
}

h4 {
  text-align: center;
}

/* Media Layouts */

/* For Cell Phones */
@media only screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) 
{
  #container { 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "bio1" 
    "about_me1" 
    "contact_me1" 
    "social1"
    "columbia1" 
    "north_shore1"
    "us_army1" 
    "dfa1"
    "cincinnati1" 
    "language1" 
    "software_skills1" 
    "interest1"
  } 
} 

/* For Tablets in Landscape Mode/Desktops */
@media only screen and (min-width: 650px) and (orientation: landscape) 
  {
    #container {
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: auto;
        grid-template-areas: 
        "bio1 columbia1 dfa1"
        "about_me1 north_shore1 cincinnati1"
        "contact_me1 us_army1 language1"
        "social1 software_skills1 interest1"
    } 
  }  

  /* Image inside bio */
#bio img{
  width: 25%;
}

.square img{
  width: 15%;
}

#interest img{
  width: 5%;
}



